name: tsuzuri

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "5173:5173"
    volumes:
      - ${LOCAL_WORKSPACE_FOLDER:-.}:/app
    networks:
      - default

networks:
  default: {}
