services:
  workspace:
    image: tsuzuri/workspace:latest
    pull_policy: build
    build:
      context: .devcontainer
      dockerfile: Dockerfile
      args:
        USERNAME: ${USERNAME:-node}
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${USER_GID:-1000}
        TZ: ${TZ:-UTC}
        LANGUAGE: ${LANGUAGE:-en}
        COUNTRY: ${COUNTRY:-US}
        ENCODING: ${ENCODING:-UTF-8}
        LOCALE: ${LOCALE:-"en_US.UTF-8 UTF-8"}
    command: sleep infinity
    volumes:
      - type: bind
        source: ${LOCAL_WORKSPACE_FOLDER:-.}
        target: /workspace
      - type: volume
        source: workspace-bashhistory
        target: /commandhistory
    networks:
      - default

volumes:
  workspace-bashhistory:
    driver: local
