@import "tailwindcss";
@plugin "daisyui";
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(2, 2, 195)
  );
}
