@import "tailwindcss";
@plugin "daisyui";

.fresh-gradient {
  background-image: url("/img/bg.webp");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: auto;
  background-repeat: repeat;
}
